<?xml version="1.0" encoding="UTF-8"?>
<server description="CICS Liberty profile JDBC configuration">

    <!-- Enable features -->
    <featureManager>
        <feature>cicsts:core-1.0</feature>
        <feature>jsp-2.3</feature>
		<feature>jdbc-4.1</feature>
    </featureManager>

    <!-- Default HTTP End Point -->
    <httpEndpoint host="*" httpPort="9080" id="defaultHttpEndpoint"/>

    <!-- CICS Bundle Installed Applications -->
    <include location="${server.output.dir}/installedApps.xml"/>

    <!-- DataSource with type 2 JDBC driver - CICS TS 5.4 or later -->
	<dataSource id="defaultCICSDataSource" jndiName="jdbc/defaultCICSDataSource" transactional="false">
		<jdbcDriver libraryRef="defaultCICSDb2Library"/>	
		<properties.db2.jcc driverType="2"/>	
		<connectionManager agedTimeout="0"/>
	</dataSource>

    <!-- Library DB2 JDBC Driver -->
	<library id="defaultCICSDb2Library">
		<fileset dir="/usr/lpp/db2v12/jdbc/classes" includes="db2jcc4.jar db2jcc_license_cisuz.jar"/>	
		<fileset dir="/usr/lpp/db2v12/jdbc/lib" includes="libdb2jcct2zos4_64.so"/>
	</library>
	
	<!-- LIberty global library -->
	<library id="global">
        <fileset dir="/usr/lpp/db2v12/jdbc/classes" includes="db2jcc4.jar"/>
    </library>

</server>